@import url('./fonts/proxima-nova/proxima-nova.css');

:root {
    --bs-body-font-weight: 500;

    --dark-blue-500: #0b344e;
    --light-blue-200: #addff5;
    --light-blue-500: #4191b3;
    --pink-500: #fe51b3;
    /*--yellow-500: #f6f4e5;*/
}

#root {
    height: 100vh;
}

body {
    font-family: Proxima Nova;
    color: var(--dark-blue-500);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.text-color-secondary-blue {
    color: var(--light-blue-500) !important;
}

button.navbar-toggler {
    border: none;
    width: 40px;
    padding: 0;
}