@import url('./fonts/proxima-nova/proxima-nova.css');

:root {
    --bs-body-font-weight: 500;

    --dark-blue-500: #0b344e;
    --light-blue-80: #edf6fc;
    --light-blue-100: #D1E8F5;
    --light-blue-200: #addff5;
    --light-blue-300: #8dd5f4;
    --light-blue-500: #4191b3;
    --pink-450: #ff70c1;
    --pink-500: #fe51b3;
    --pink-550: #e64aa3;
    /*--yellow-500: #f6f4e5;*/
}

#root {
    height: 100vh;
}

body {
    font-family: Proxima Nova;
    color: var(--dark-blue-500);
}

/* width */
::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    height: 10px !important;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.text-color-secondary-blue {
    color: var(--light-blue-500) !important;
}

button.navbar-toggler {
    border: none;
    width: 40px;
    padding: 0;
}